@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  color-scheme: dark;

  --color-primary: #035496;
  --color-primary-content: #9bd1fd;
  --color-primary-50: #e6f3fe;
  --color-primary-100: #cde8fe;
  --color-primary-200: #9bd1fd;
  --color-primary-300: #69bafc;
  --color-primary-400: #37a3fb;
  --color-primary-500: #058cfa;
  --color-primary-600: #0470c8;
  --color-primary-700: #035496;
  --color-primary-800: #023864;
  --color-primary-900: #011c32;
  --color-primary-950: #011423;

  --color-secondary: #8e0396;
  --color-secondary-content: #f89bfd;

  --success: #039603;
  --warning: #969603;
  --error: #960303;
  --success-content: #9bfd9b;
  --warning-content: #000000;
  --error-content: #fd9b9b;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;

  --color-primary: #035496;
  --color-primary-content: #9bd1fd;
  --color-primary-50: #e6f3fe;
  --color-primary-100: #cde8fe;
  --color-primary-200: #9bd1fd;
  --color-primary-300: #69bafc;
  --color-primary-400: #37a3fb;
  --color-primary-500: #058cfa;
  --color-primary-600: #0470c8;
  --color-primary-700: #035496;
  --color-primary-800: #023864;
  --color-primary-900: #011c32;
  --color-primary-950: #011423;

  --color-secondary: #8e0396;
  --color-secondary-content: #f89bfd;

  --success: #039603;
  --warning: #969603;
  --error: #960303;
  --success-content: #9bfd9b;
  --warning-content: #000000;
  --error-content: #fd9b9b;
}

/*Configuración para que tailwind lo detecte*/

@theme {
  /* Base colors */
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);

  /* Neutrals */
  --color-neutral: var(--neutral);
  --color-neutral-focus: var(--neutral-focus);
  --color-neutral-content: var(--neutral-content);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-focus: var(--primary-focus);
  --color-primary-content: var(--primary-content);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-focus: var(--secondary-focus);
  --color-secondary-content: var(--secondary-content);

  /* Accent */
  --color-accent: var(--accent);
  --color-accent-focus: var(--accent-focus);
  --color-accent-content: var(--accent-content);

  /* Info */
  --color-info: var(--info);
  --color-info-content: var(--info-content);

  /* Success */
  --color-success: var(--success);
  --color-success-content: var(--success-content);

  /* Warning */
  --color-warning: var(--warning);
  --color-warning-content: var(--warning-content);

  /* Error */
  --color-error: var(--error);
  --color-error-content: var(--error-content);
}

html,
body {
  min-width: 100%;
  width: 100%; /* Asegura que no haya desbordamiento horizontal */
  height: fit-content;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
